SNOWFLAKE_ACCOUNT=pgb87192
SNOWFLAKE_USER=your_username_here
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_ROLE=TRAINING_ROLE
SNOWFLAKE_WAREHOUSE=REVIEWSENSE_WH
SNOWFLAKE_DATABASE=REVIEWSENSE_DB
SNOWFLAKE_PRIVATE_KEY_PATH=C:/NEU/Projects/ReviewSenseAI/rsa_key.p8
